input[type="text"],
input[type="password"] {
  width: 320px;
  height: 40px;
  margin: 15px 0;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  background-color: #578f5f;
  width: 320px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 13px 5px;
  margin: 10px 0px;
}
