.header-container {
  height: 15vh;
  background-color: #5ab5fa;
  display: flex;
  justify-content: center;
}
.header-logo {
  height: 15vh;
  width: auto;
  left: 0;
  position: absolute;
}
.header-text {
  align-self: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
